[project]
name = "ge"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pygame>=2.6.1",
    "typing-extensions>=4.15.0",
]

[dependency-groups]
dev = [
    "pylint>=4.0.3",
]
